

<div class="example-container">
 <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower" />  -->
  <form type="submit">
    <mat-form-field>
      <input matInput placeholder="Name">
      <!-- <input class="mainLoginInput" type="text" placeholder="name"/> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="phone">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Quantity">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Address"></textarea>
    </mat-form-field>
  </form>

      <button mat-raised-button color="primary" (click)=onAddOrder()>Submit Order</button>
</div>
