<h1>Create New Order:</h1>
<mat-card>
  <form (submit)='onAddOrder(orderForm)' #orderForm="ngForm">
    <mat-form-field>
      <input matInput type="text" placeholder="Quantity" name="qty" ngModel required #qty="ngModel">
      <mat-error *ngIf="qty.invalid">Please enter a valid Quantity</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="3" placeholder="Address" name="address" ngModel required minLength="5"
        #address="ngModel"></textarea>
      <mat-error *ngIf="address.invalid">Please enter a valid address</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Date" name="delivDate" ngModel required #delivDate="ngModel">
      <mat-error *ngIf="delivDate.invalid">Please enter a valid date</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit Order</button>
  </form>
</mat-card>
