mat-toolbar {
  /*  */
  display: flex;
  flex-flow: wrap;
  height: fit-content;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}
img
 {
   width: 10rem;
   height: 3.4rem;
   border: solid .25rem;
   border-color:rgb(70, 50, 15);
   border-radius: 5rem 2rem;
   background-color: rgb(70, 50, 15);
  border: solid .3rem;
  border-style: ridge;
  background-color: rgba(0, 170, 255, 0.719);
  border-radius: 1rem 1rem;
  padding: .4rem;
 }
