<mat-toolbar color="primary">
  <!-- <div id="headerDiv"> -->
    <span><a routerLink="/">E's Cinna-MinE's!</a></span>
    <span class="spacer"></span>
    <div *ngIf='!userIsAuthenticated'>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
    </div>
    <div *ngIf='!userIsAuthenticated'>
      <a mat-button routerLink="/logon" routerLinkActive="mat-accent">Log In</a>
    </div>
    <div *ngIf='userIsAuthenticated'>
      <a *ngIf='!userIsAdmin' mat-button routerLink="/order-create" routerLinkActive="mat-accent">New Order</a>
      <a *ngIf='userIsAdmin' mat-button routerLink="/admin-profile-edit" routerLinkActive="mat-accent">Current
        Orders</a>
    </div>
    <div *ngIf='userIsAuthenticated'>
      <a *ngIf='!userIsAdmin' mat-button routerLink="/order-history" routerLinkActive="mat-accent">Order History</a>
      <a *ngIf='userIsAdmin' mat-button routerLink="/admin-orders" routerLinkActive="mat-accent">All Orders</a>
    </div>
    <div *ngIf='userIsAuthenticated'>
      <a *ngIf='!userIsAdmin' mat-button routerLink="/profile" routerLinkActive="mat-accent">Profile</a>
      <a *ngIf='userIsAdmin' mat-button routerLink="/admin-profile" routerLinkActive="mat-accent">All Users</a>
    </div>
    <div *ngIf='userIsAdmin'>
      <a mat-button routerLink="/profile" routerLinkActive="mat-accent">Admin Profile</a>
    </div>
    <div *ngIf='userIsAuthenticated'>
      <a mat-button color="warn" (click)="onLogout()">Sign Out</a>
    </div>
  <!-- </div> -->
</mat-toolbar>
