<mat-toolbar color="primary">
  <span><a routerLink="/">Cinnmines!</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li>
      <a mat-button routerLink="/logon" routerLinkActive="mat-accent">Log In</a>
    </li>
    <li>
      <a mat-button routerLink="/order-create" routerLinkActive="mat-accent">New Order</a>
    </li>
    <li>
      <a mat-button routerLink="/order-history" routerLinkActive="mat-accent">Order History</a>
    </li>
    <li>
      <a mat-button routerLink="/" routerLinkActive="mat-accent">Sign Out</a>
    </li>

  </ul>

</mat-toolbar>
