
mat-form-field,
textarea {
  width: 100%;
}
form{
  width: 100%;
 } 
 h1{
    background-color: rgb(70, 50, 15);
    border: solid .3rem;
    border-style: ridge;
    background-color: rgba(0, 170, 255, 0.719);
    border-radius: 1rem 1rem;
    padding: .4rem;
}

h4{
    background-color: rgb(70, 50, 15);
    border: solid .3rem;
    border-style: ridge;
    background-color: rgba(0, 170, 255, 0.719);
    border-radius: 1rem 1rem;
    padding: .4rem;
  }
  
