<h1>Current Orders:</h1>

<div>
  <ol>
    <li *ngFor="let order of orders">
      <div>
        <h4>Order Quantity: {{order.qty}}</h4>
        <h4>Order Address: {{order.address}}</h4>
        <h4>Order Delivery Date: {{order.delivDate}}</h4>
        <h4>Order Status: {{order.status}}</h4>
      </div>

      <mat-card>
        <form (submit)="updateStatus(order._id, newStatusForm)" #newStatusForm="ngForm">
          <mat-form-field>
            <mat-label>New Status</mat-label>
            <mat-select ngModel name="status" type="status">
              <mat-option value="Awaiting Confirmation">Awaiting Confirmation</mat-option>
              <mat-option value="Confirmed">Confirmed</mat-option>
              <mat-option value="Enroute">Enroute</mat-option>
              <mat-option value="Delivered">Delivered</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Update Status</button>
        </form>
        <button mat-raised-button color="primary" (click)="deleteOrder(order._id)">Delete This Order</button>
      </mat-card>

      <!-- <mat-card>
        <form (submit)="updateStatus(order._id, newStatusForm)" #newStatusForm="ngForm">
          <mat-form-field>
            <input matInput name="status" ngModel type="status" placeholder="New Status" #statusInput="ngModel"
              required>
            <mat-error *ngIf="statusInput.invalid">Please enter updated status</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Update Status</button>
        </form>
        <button mat-raised-button color="primary" (click)="deleteOrder(order._id)">Delete This Order</button>
      </mat-card> -->
    </li>
  </ol>
</div>
