<p class="pageTitle" >admin-profile-edit works! Here is a list of all orders that do not have a status of "Delivered". Please Update Status
  When Ready!</p>

<div>
  <ol>
    <li *ngFor="let order of orders">
      <p>
        Order Id: {{order._id}}<br>
        Order UserId: {{order.user_id}}<br>
        Order Quantity: {{order.qty}}<br>
        Order Address: {{order.address}}<br>
        Order Delivery Date: {{order.delivDate}}<br>
        Order Status: {{order.status}}<br>
      </p>
      <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Update Status
            </mat-panel-title>
            <mat-panel-description>
              Please Choose a Status
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button mat-button>Awaiting Confirmation</button>
          <button mat-button>Confirmed</button>
          <button mat-button>Enroute</button>
          <button mat-button>Delivered</button>
          <mat-action-row>
            <button mat-button color="primary">Update Status</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion> -->

      <!-- select status -->
      <label id="radio-group-label">Edit Status</label>
      <mat-radio-group
        aria-labelledby="radio-group-label"
        class="radio-group"
        [(ngModel)]="newStatus">
        <mat-radio-button
          class="radio-button"
          *ngFor="let status of statusOption"
          [value]="season">
          {{status}}
        </mat-radio-button>
      </mat-radio-group>
      <div>The present status is: {{newStatus}}</div>


      <mat-card>
        <form (submit)="updateStatus(order._id, newStatusForm)" #newStatusForm="ngForm">
          <mat-form-field>
            <input matInput name="status" ngModel type="status" placeholder="New Status" #statusInput="ngModel"
              required>
            <mat-error *ngIf="statusInput.invalid">Please enter updated status</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Update Status</button>
        </form>
      </mat-card>
    </li>
  </ol>
</div>
