h1{ font-family: "Indie Flower";
    text-align: center;
    font-size: 48px;
    font-style: bolder;
    font-weight: bold;
    line-height: 26.4px;
    background-color:beige;
    border-style: outset;

   }


