
@media only screen and (max-width: 600px) {

}
h1 {
  background-color: rgb(70, 50, 15);
  border: solid .3rem;
  border-style: ridge;
  background-color: rgba(0, 170, 255, 0.719);
  border-radius: 1rem 1rem;
  padding: .4rem;
}
h2{
  background-color: rgb(70, 50, 15);
  border: solid .3rem;
  border-style: ridge;
  background-color: rgba(0, 170, 255, 0.719);
  border-radius: 1rem 1rem;
  padding: .4rem;
}