
<ul>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Home</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Signup</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Create Order</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Order History</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Profile</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Log In</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Log Out</a></li>

<a id="scooteranchor" href="#" class="pull-left"
    ><img src="../../assets/images/E's Cinna-MinE's_1572359572798.png" /></a>
</ul>

<div id="logo">
  <img class="banner" src="../../assets/images/cin7.jpg" alt="" />
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas6.jpg">
    <img src="../../assets/images/Cinnas6.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome cinnamon roll gift package</div>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas4.jpg">
    <img src="../../assets/images/Cinnas4.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome frosted cinnnamon roll</div>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas5.jpg">
    <img src="../../assets/images/Cinnas5.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome cinnamon roll pops</div>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas3.jpg">
    <img src="../../assets/images/Cinnas3.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome unfrosted cinnamon roll</div>
</div>

<h1>Like us on Facebook</h1>
<h2>​Main Location: 6574 Grand St, Grand Marie, Mn 45855</h2>
<h3>Order early for special occasions and holidays!</h3>

<Footer>Call Us today at 715-651-2222
or 800-654-3214. Email us at E'scinnamines@yahoo.com.
</Footer>


