/* ul{
  background-color:black;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;

} */

li {
  display: inline;

  /* margin-top: 0.5rem; */

  font-size: 1.625rem;
}
a {
    padding: 23px;
    margin-top: 0px;
    padding-top: 0px;
    color:wheat;
    font-style: oblique;
    float: min-width  3.125rem;
  }

#logo {
      text-align: center;
      font-size: 6.25rem;
      height: auto;
      width: 50%;
      padding: 1px;
    }

.banner {
  margin-top: 0.6rem;
  margin-bottom: 0px;
  text-align: center;
  width: 28.125rem;
  height: 10%;
  border: 0.5rem solid rgba(112, 4, 4, 0.815);
  border-radius:  3.125rem 015px;

}

img {
  width: 2.625rem;
  height: auto;
  margin-top: qpx;
}

#gallery {
  margin: 3.125rem;
  border: 1px solid #ccc;
  float: right;
  width: 1px;

}

div.gallery {
  margin: 2rem;
  border: .14rem solid rgba(226, 205, 14, 0.815);
  float: left;
  width: 11.25rem;
  background-color:  rgb(112, 4, 4);
  margin-top: 1.2rem;
}

div.gallery:hover {
  border: 2px solid black;
}

div.gallery img {
  width: 11.8rem;
  height: 11.8rem;
  border: 2px solid black;
}

div.desc {
  font-style: oblique;
  color:wheat;
  padding: 1px;
  text-align: center;
  background-color:rgb(70, 50, 15);
}

footer {
  margin: 1.875rem;
  color:rgba(228, 59, 7, 0.616);
}

header {
  color: transparent;
}

h1{
  text-align: center;
  color:rgba(228, 59, 7, 0.616);
}

h2{
  text-align: center;
  color:rgba(228, 59, 7, 0.616);
}

h3{
  text-align: center;
  color:rgba(228, 59, 7, 0.616);
}

footer{
  text-align: center;
  color:rgba(228, 59, 7, 0.616);
}
