
<!-- <router-outlet></router-outlet> -->

<div id="logo">
  <img class="banner" src="../../assets/images/cin7.jpg" alt="" />
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas6.jpg">
    <img src="../../assets/images/Cinnas6.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome cinnamon roll gift package</div>
</div>
<br>
<div class="gallery">
  <a target="_blank" href="../../assets/images/th..jpg">
    <img src="../../assets/images/th..jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome DIY classes for friends and family</div>
</div>
<br>
<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas5.jpg">
    <img src="../../assets/images/Cinnas5.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome cinnamon roll pops</div>
</div>
<br>
<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas3.jpg">
    <img src="../../assets/images/Cinnas3.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome unfrosted cinnamon rolls</div>
</div>
