<ul>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Home</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Signup</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Create Order</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Order History</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Profile</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Log In</a></li>
  <li><a href="http:\\localhost:4200\Home"style="text-decoration:none;">Log Out</a></li>
  <!-- <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul> -->
    <!-- </div>
</nav> -->

<router-outlet></router-outlet>
<a id="scooteranchor" href="#" class="pull-left"
    ><img src="../../assets/images/E's Cinna-MinE's_1572359572798.png" /></a>
</ul>

<div id="logo">
  <img class="banner" src="../../assets/images/cin7.jpg" alt="" />
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas6.jpg">
    <img src="../../assets/images/Cinnas6.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome cinnamon roll gift package</div>
</div>
<br>
<div class="gallery">
  <a target="_blank" href="../../assets/images/th..jpg">
    <img src="../../assets/images/th..jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome DIY classes for friends and family</div>
</div>
<br>
<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas5.jpg">
    <img src="../../assets/images/Cinnas5.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome cinnamon roll pops</div>
</div>
<br>
<div class="gallery">
  <a target="_blank" href="../../assets/images/Cinnas3.jpg">
    <img src="../../assets/images/Cinnas3.jpg" width="600" height="400" />
  </a>
  <div class="desc">Awesome unfrosted cinnamon rolls</div>
</div>
<br>
<!-- <header>this code is transparent in css becaase the hover was overlapping h1 code below
</header> -->
<Footer>
<h1>Like us on Facebook</h1>
<h2>​Main Location: 6574 Grand St, Grand Marie, Mn 45855</h2>
<h3>Order early for special occasions and holidays!</h3>
<p>Call Us today at 715-651-2222 or 800-654-3214. Email us at E'scinnamines@yahoo.com.</p>
</Footer>
<!-- form ng-app="" name="myForm">
    Email:
    <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
</form> -->


