footer {
  text-align: center;
  color: snow;
}



h1{
  text-align: center;
  color:rgb(42, 20, 236);
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  background-color: wheat;
  width: 40%;
  align-content: center;
  border: solid .3rem;
  background-color:wheat;
  border-radius: 5rem 2rem;
  ;

}

h2{
  text-align: center;
  width: 55rem;
  color:wheat;
  border: solid .3rem;
  border-style: ridge;
  background-color: rgb(70, 50, 15);
  border-radius: 5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;


}

h3{
  text-align: center;
  width: 50rem;
  color: wheat;
  border: solid .3rem;
  border-style: ridge;
  background-color: rgb(70, 50, 15);
  border-radius: 5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;

}

h4{
  text-align: center;
  width: 45rem;
  color: wheat;
  border: solid .3rem;
  border-style: ridge;
  background-color: rgb(70, 50, 15);
  border-radius: 5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;


}

h5{
  text-align: center;
  width: 40rem;
  color: wheat;
  border: solid .3rem;
  border-style: ridge;
  background-color: rgb(70, 50, 15);
  border-radius: 5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;

}

