footer {
  text-align: center;
  color: snow;
}

footer {
  margin: 1.875rem;
  color:rgba(228, 59, 7, 0.616);
}



h1{
  text-align: center;
  color:rgb(42, 20, 236);

}

h2{
  text-align: center;
  width: 55rem;
  color: wheat;
  border: solid .3rem;
  border-style: ridge;
  background-color: rgb(112, 4, 4);
  border-radius: 50px 20px;

}

h3{
  text-align: center;
  width: 50rem;
  color: wheat;
  border: solid .3rem;
  border-style: ridge;
  background-color: rgb(112, 4, 4);
  border-radius: 50px 20px;
}

h4{
  text-align: center;
  width: 45rem;
  color: wheat;
  border: solid .3rem;
  border-style: ridge;
  background-color: rgb(112, 4, 4);
  border-radius: 50px 20px;
}

h5{
  text-align: center;
  width: 40rem;
  color: wheat;
  border: solid .3rem;
  border-style: ridge;
  background-color: rgb(112, 4, 4);
  border-radius: 50px 20px;
}

