/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  background-image: url(../src/assets/images/cin8.jpg);
}
.center {
  margin: auto;
  width: 80em;
  }
  @import '~@angular/material/theming';


